<footer id="contentinfo" class="body">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="one column">
                    <img src="images/ec-logo.png" />
                </div>
                <div class="four columns">
                    This project has received funding from the European Union’s
                    Horizon 2020 research and innovation programme under grant
                    agreement No 777435.
                </div>
                <div class="four columns">
                    <ul class="">
                        <li>
                            <a href="https://docs.deep-hybrid-datacloud.eu" title="Documentation">
                                <span class="fas fa-book"></span>
                                Documentation
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/deephdc/" title="Github Profile">
                                <span class="fab fa-github"></span>
                                GitHub 
                            </a>
                        </li>
                        <li>
                            <a href="https://hub.docker.com/u/deephdc/" title="DockerHub organization">
                                <span class="fab fa-docker"></span>
                                DockerHub 
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/DEEP_eu" title="Twitter Profile">
                                <span class="fab fa-twitter"></span>
                                Twitter 
                            </a>
                        </li>
                        <li>
                            <a href="https://www.researchgate.net/project/DEEP-Hybrid-DataCloud" title="ResearchGate Project page">
                                <span class="fab fa-researchgate"></span>
                                ResearchGate 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="one column">
                    <img class="logo" src="images/logo-deep-solid-white.png">
                </div>
            </div>
        </div>
    </div>
</footer>
