<div class="row run">
    <h3>Run locally on your computer</h3>
    <h4>Using Docker</h4>
    <p>
		You can run this model directly on your computer, assuming that you
		have <a title="Docker documentation" href="https://docs.docker.com/">Docker</a>
		installed, by following these steps:
    </p>
    <pre><code>$ docker pull {{ article.dockerhub }}
$ docker run -ti -p 5000:5000 {{ article.dockerhub }}</code></pre>
 
    <h4>Using udocker</h4>
    <p>
        If you do not have Docker available or you do not want to install it,
        you can use <a title="udocker repository" target="_blank"
                       href="https://github.com/indigo-dc/udocker">udocker</a> 
        within a Python virtualenv:
    </p>
            <pre><code>$ virtualenv udocker
$ source udocker/bin/activate
$ git clone https://github.com/indigo-dc/udocker
$ cd udocker
$ pip install .
$ udocker pull {{ article.dockerhub }}
$ udocker create {{ article.dockerhub }}
$ udocker run -p 5000:5000  {{ article.dockerhub }}</code></pre>

    <hr />
    <p>
        Once running, point your browser to <code>http://127.0.0.1:5000/</code>
        and you will see the API documentation, where you can test the model
        functionality, as well as perform other actions (such as training).
    </p>
    <p>
        For more information, refer to the 
        <a href="https://docs.deep-hybrid-datacloud.eu/en/latest/user/index.html"
           title="DEEP user documentation">user documentation</a>.
    </p>

</div>

{% if article.tosca %}
<div class="row run">
    <h3>Run on our pilot e-Infrastructure</h3>
    <p>
        In order to execute this model in our pilot e-Infrastructure you would
        need to be registered in the 
        <a href="https://iam.deep-hybrid-datacloud.eu/"
           title="DEEP Identity and Access Management">DEEP IAM</a>. <br>
        The following instructions make use of the <a href="https://github.com/indigo-dc/orchent">orchent</a> CLI. You would need to 
        install and configure orchent as shown in this <a href="https://github.com/maricaantonacci/deep-tutorials/blob/master/orchent_tutorial.md">tutorial</a>.
    </p>
  {% for tosca in article.tosca %}
    <h4>{{ tosca.title }}</h4>
    <pre><code>$ curl -o {{ article.slug }}.yml \
    {{ tosca.url }}
$ orchent {{ article.slug }}.yml {% if tosca.inputs %} {%raw%}'{{%endraw%}{% for input in tosca.inputs %}"{{input|trim()}}"="..."{%if not loop.last%}, {%endif%}{%endfor%}{%raw%}}'{%endraw%}{% else %}{%raw%}'{}'{%endraw%}{%endif%}</code></pre>
  {% endfor %}
    <hr />
    <p>Check the status of your job</p>
    <pre><code>$ orchent depshow &lt;Deployment UUID&gt;</code></pre>
    <p>Once its state is CREATE_COMPLETE, you will get the endpoint to access the service, e.g: </p>
    <pre><code>"endpoint": "mesos-lb.recas.ba.infn.it:10002"</pre></code>
    Point your browser to the provided URL.
    <p>
        For more information, refer to the 
        <a href="https://docs.deep-hybrid-datacloud.eu/en/latest/user/index.html"
           title="DEEP user documentation">user documentation</a>.
    </p>
</div>
{% endif %}
