<ul class="module-list">
{% for article in articles_page.object_list %}
    <li class="one-third column">
        <div class="module-list-entry">
            <header>
                <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
            </header>
            <div class="row">
                <div class="one column">
                </div>
                <div class="ten columns">
                    <p class="post-info">
                        <span class="fas fa-folder"></span>
                        Model
                        {% for cat in article.categories or [article.category] %}
                        {% if cat.name == "inferece" %}
                        | <a href="{{ SITEURL }}/{{ cat.url }}">Inference</a>
                        {% endif %}
                        {% if cat.name == "trainable" %}
                        | <a href="{{ SITEURL }}/{{ cat.url }}">Trainable</a>
                        {% endif %}
                        {% if cat.name == "pre-trained" %}
                        | <a href="{{ SITEURL }}/{{ cat.url }}">Pre-trained</a>
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            <!--
                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> 
                <address class="vcard author">By
                {% for author in article.authors %}
                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                {% endfor %}
                </address>
            -->
            <div class="entry-content"> 
              {% if article.summary %}
                {{ article.summary }}
              {% else %}
                <p> &nbsp; </p>
              {% endif %}
                <a class="button button-primary" href="{{ SITEURL }}/{{ article.url }}">Know more &raquo;&raquo;</a>
            </div><!-- /.entry-content -->
        </div>
    </li>
{% endfor %}
</ul>

