<div class="row run">
    <h3>Test this module</h3>
    <p>
        You can test and execute this module in various ways.
    </p>
    <h4>Excecute locally on your computer using Docker</h4>
    <p>
		You can run this module directly on your computer, assuming that you
		have <a title="Docker documentation" href="https://docs.docker.com/">Docker</a>
		installed, by following these steps:
    </p>
    <pre><code>$ docker pull {{ article.dockerhub }}
$ docker run -ti -p 5000:5000 {{ article.dockerhub }}</code></pre>
 
    <h4>Execute on your computer using udocker</h4>
    <p>
        If you do not have Docker available or you do not want to install it,
        you can use <a title="udocker repository" target="_blank"
                       href="https://github.com/indigo-dc/udocker">udocker</a> 
        within a Python virtualenv:
    </p>
            <pre><code>$ virtualenv udocker
$ source udocker/bin/activate
(udocker) $ pip install udocker
(udocker) $ udocker pull {{ article.dockerhub }}
(udocker) $ udocker create {{ article.dockerhub }}
(udocker) $ udocker run -p 5000:5000  {{ article.dockerhub }}</code></pre>

    <hr />

    <p>
        In either case, once the module is running, point your browser to
        <code>http://127.0.0.1:5000/</code> and you will see the API
        documentation, where you can test the module functionality, as well as
        perform other actions (such as training).
    </p>
    <p>
        For more information, refer to the 
        <a href="https://docs.deep-hybrid-datacloud.eu/en/latest/user/index.html"
           title="DEEP user documentation">user documentation</a>.
    </p>

</div>

{% if ns.trainable %}
<div class="row run">
    <h3>Train this module</h3>
    <p>
        You can train this model using the DEEP framework. In order to execute
        this module in our pilot e-Infrastructure you would need to be
        registered in the <a href="https://iam.deep-hybrid-datacloud.eu/"
                             title="DEEP Identity and Access Management">DEEP
                             IAM</a>.
    </p>
    <p>Once you are registedered, you can go to our 
        <a title="Train module using DEEP Framework" 
            href="https://train.deep-hybrid-datacloud.eu/modules/{{article.dockerhub | replace("deephdc/", "") | replace("_", "-") | lower}}">
            training dashboard
        </a>
        to configure and train it.
    </p>
    <p>
        For more information, refer to the 
        <a href="https://docs.deep-hybrid-datacloud.eu/en/latest/user/index.html"
           title="DEEP user documentation">user documentation</a>.
    </p>
</div>
{% endif %}
