{% extends "base.html" %}

{% block title %} - All modules{% endblock %}

{% block content %}
<section id="module-list">
<div class="container section">
    <div class="row">
        <h2>All published modules</h2>
    </div>

    <div class="row">
        <table  class="u-full-width">
            <thead>
                <tr>
                    <th>Module Name</th>
                    <th>Published</th>
                    <th>Updated</th>
                    <th>License</th>
                    <th>Type</th>
                    <th>Categories</th>
                    <th>Cite as</th>
                    <th><span class="fab fa-github"></span> GitHub URL</th>
                    <th><span class="fab fa-docker"></span> Docker image</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                {% set ns = namespace(tools=false) %}
                {% for cat in article.categories or [article.category] %}
                    {% if cat.name == "tools" %}
                        {% set ns.tools = true %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>
                        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    </td>
                    <td>
                        {{ article.locale_date }}
                    </td>
                    <td>
                        {% if article.modified %} {{ article.locale_modified }} {% else %} - {% endif %}
                    </td>
                    <td>
                        {{ article.license}}
                    </td>
                    <td>
                        {% if ns.tools %} Tool {% else %} Model {% endif %}
                    </td>
                    <td>
                        {% for cat in article.categories or [article.category] %}
                        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>{{ ', ' if not loop.last }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if article.cite %}<a href="{{ article.cite }}">{{ article.cite }}</a>{% else %} - {% endif %}
                    </td>
                    <td>
                        <a title="GitHub repository" href="{{ article.github }}">{{ article.github }}</a>
                    </td>
                    <td>
                        {% if article.dockerhub %}
                        <a title="Docker image" href="{{ article.dockerhub }}">{{ article.dockerhub }}</a>
                        {% else %} - {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
