{% extends "base.html" %}

{% set ns = namespace(trainable=false) %}
{% set ns = namespace(pretrained=false) %}
{% set ns = namespace(v2=false) %}
{% set ns = namespace(tools=false) %}
{% for cat in article.categories or [article.category] %}
    {% if cat.name == "trainable" %}
    {% set ns.trainable = true %}
    {% endif %}

    {% if cat.name == "pre-trained" %}
    {% set ns.pretrained = true %}
    {% endif %}

    {% if cat.name == "api-v2" %}
    {% set ns.v2 = true %}
    {% endif %}

    {% if cat.name == "tools" %}
    {% set ns.tools = true %}
    {% endif %}
{% endfor %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block title %} - {% if ns.tools %} Tool {% else %} Model {% endif %} "{{ article.title|striptags }}"{% endblock %}

{% block content %}

<section id="module-entry">
<div class="container module-entry">

    <div class="row">
        <div class="eight columns">
            <div class="row header">
                <h2 class="entry-title" >{{ article.title }}</h2>
                {% import 'translations.html' as translations with context %}
                {{ translations.translations_for(article) }}
                
                {{ article.summary }}
                
                <hr>
                <p>
                    <span class="fas fa-folder"></span>
                    {% if ns.tools %}
                        Tool
                    {% else %}
                        Model
                    {% endif %}
                    {% for cat in article.categories or [article.category] %}
                    {% if cat.name == "inference" %}
                    | <a href="{{ SITEURL }}/{{ cat.url }}">Inference</a>
                    {% endif %}
                    {% if cat.name == "trainable" %}
                    | <a href="{{ SITEURL }}/{{ cat.url }}">Trainable</a>
                    {% endif %}
                    {% if cat.name == "pre-trained" %}
                    | <a href="{{ SITEURL }}/{{ cat.url }}">Pre-trained</a>
                    {% endif %}
                    {% endfor %}
                </p>
                <p>
                {% if article.authors %}
                    Published by
                  {% for author in article.authors %}
                    {{ author }}
                  {% endfor %}
                {% endif %}
                    <br>
                    Created: 
                        <time class="published" datetime="{{ article.date.isoformat() }}">
                            {{ article.locale_date }}
                        </time>
                     {% if article.modified %}
                        - Updated: 
                        <time class="modified" datetime="{{ article.modified.isoformat() }}">
                            {{ article.locale_modified }}
                        </time>
                      {% endif %}
                </p>
            </div>
            <div class="row content">
                <h3>{% if ns.tools %} Tool {% else %} Model {% endif %} Description</h3>
                {{ article.content }}
            </div>
            {% if not ns.tools %}
                {% include "_includes/module_execution_instructions.html" %}
            {% endif %}
        </div>

        <div class="four columns buttons">
            <div class="row">
                <h3>Categories</h3>
                <p>
                    {% for cat in article.categories or [article.category] %}
                        <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>{{ ', ' if not loop.last }}
                    {% endfor %}
                </p>
              {% if article.license %}
                <h3>License</h3>
                <p>
                    License: {{ article.license }}
                </p>
              {% endif %}
            </div>

          {% if ns.trainable %}
            <div class="row">
                <h3>Configure and train</h3>
                <ul>
                    <li>
                        <a class="button" title="Train module using DEEP Framework"  target="_blank" href="https://train.deep-hybrid-datacloud.eu/modules/{{article.dockerhub | replace("deephdc/", "") | replace("_", "-") | lower}}"><span class="fas fa-cogs"></span> Training dashboard <span class="fas fa-arrow-circle-right"></span></a>
                    </li>
                </ul>
            </div>
          {% endif %}
            <div class="row">
                <h3>Get the code</h3>
                    <a class="button" title="GitHub repository"  target="_blank" href="{{ article.github }}"><span class="fab fa-github"></span>Github <span class="fas fa-arrow-circle-right"></span></a>
                    <a class="button" title="Deploy from DockerHub"  target="_blank" href="https://hub.docker.com/r/{{ article.dockerhub }}"><span class="fab fa-docker"></span>Docker Hub <span class="fas fa-arrow-circle-right"></span></a>

              {% if article.dataset or article.training_files %}
                <h3>Get the data</h3>
                  {% if article.dataset %}
                    <a class="button" title="Dataset"  target="_blank" href="{{ article.dataset }}"><span class="fa fa-quote-left"></span> Dataset <span class="fas fa-arrow-circle-right"></span></a>
                  {% endif %}
                  {% if article.training_files %}
                    <a class="button" title="Training files"  target="_blank" href="{{ article.training_files }}"><span class="fa fa-quote-left"></span> Training files <span class="fas fa-arrow-circle-right"></span></a>
                  {% endif %}
              {% endif %}
              {% if article.cite %}
                <h3>Citing this module</h3>
                    <a class="button" title="Module citation"  target="_blank" href="{{ article.cite }}"><span class="fa fa-quote-left"></span> Citation <span class="fas fa-arrow-circle-right"></span></a>
              {% endif %}
            </div>
        </div>
    </div>
</div>



    
</section>
{% endblock %}
