<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{{ SITENAME }}{% block title %}{% endblock title %}</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/skeleton.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/screen.css" />

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon.ico" />
        
        {% endblock head %}
</head>

<body>
    
    {% include '_includes/navigation.html' %}
    
    {% block content %}
    {% endblock %}
        
    {% include '_includes/footer.html' %}

    {% include '_includes/post-footer.html' %}
</body>
</html>
