{% extends "base.html" %}

{% block title %} - Category {{ category }}{% endblock %}

{% block content %}
<section id="model-list">
<div class="container section">
    <div class="row">
        <h2>Models in the '{{ category }}' category</h2>
    </div>

    <div class="row">
            {% include '_includes/model-list.html' %}
    </div>
    {% if articles_page.has_other_pages() %}
    <div class="row">
        {% include '_includes/pagination.html' %}
    </div>
    {% endif %}
</div>
</section><!-- /#content -->
{% endblock content %}

