{% extends "base.html" %}
{% block content %}

<section id="header" class="header">
<div class="container section">
    <div class="row">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        <p>
        Welcome to the DEEP Open Catalog!
        </p>
        <p>
        DEEP-Hybrid-DataCloud is a project that aims to deliver a framework
        to easily develop Machine Learning and Deep Learning models on top of
        e-Infrastructures.
        In the DEEP Open Catalog you can find ready to use models in a
        variety of domains. These models can be executed on your local laptop,
        on a production server or on top of e-Infrastrucutres supporting the DEEP-Hybrid-DataCloud stack.
        </p>
    </div>
</div>
</section>
        

<section id="quickstart">
<div id="quickstart" class="container section">
    <div class="row">
        <div class="twelve column">
            <h2>Quickstart</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="three columns">
            <h4>1. Choose a model</h3>
            <p>Browse the <a href="#model-list">list of available models</a>
            and pick the one of your choice.</p>
            <p>The <a href="{{ SITEURL
                }}/models/deep-generic-container.html">DEEP Generic
                Container</a> is a good starting point to see how the API looks
            like (but it does not provide any functionality at all).</p>
        </div>
        <div class="five columns">
            <h4>2. Download &amp; execute</h3>
            With <a title="Docker install" target="_blank" href="https://docs.docker.com/install/#supported-platforms">Docker</a>:
            <pre><code>$ docker search deephdc
$ docker run -ti -p 5000:5000 deephdc/deep-oc-generic-container</code></pre>
            No Docker possible? Try <a title="udocker install" target="_blank" href="https://github.com/indigo-dc/udocker/blob/master/doc/installation_manual.md#udocker-installation-manual">udocker</a> instead!
            <pre><code>$ udocker search deephdc
$ udocker run -p 5000:5000  deephdc/deep-oc-generic-container</code></pre>
            <p>Need GPU access?</p>
            Use <a title="nvidia-docker install" target="_blank" href="https://github.com/nvidia/nvidia-docker/wiki/Installation-(version-2.0)">nvidia-docker</a> together with Docker:
            <pre><code>$ nvidia-docker run -ti -p 5000:5000 deephdc/deep-oc-generic-container</code></pre>
            Or udocker way:
            <pre><code>$ udocker pull deephdc/deep-oc-generic-container
$ udocker create --name=deep-oc-generic-container deephdc/deep-oc-generic-container
$ udocker setup --nvidia deep-oc-generic-container
$ udocker run -p 5000:5000  deep-oc-generic-container</code></pre>                
        </div>
        <div class="four columns">
            <h4>3. Browse the API</h3>
            <ul>
                <li>
                    Open your browser and visit <code>http://127.0.0.1:5000/</code>.
                </li>
                <li>Read the Swagger documentation and test the model directly.</li>
            </ul>
        </div>
    </div>
</div>
</section>

<section id="model-list">
<div class="container section">
    <div class="row">
        {% block content_title %}
        <h2>Browse all models</h2>
        {% endblock %}
    </div>

    <div class="row">
        {% include '_includes/model-list.html' %}
    </div>
    {% if articles_page.has_other_pages() %}
    <div class="row">
            {% include '_includes/pagination.html' %}
    </div>
    {% endif %}
</div>
</section><!-- /#content -->
{% endblock content %}
