{% extends "base.html" %}
{% block content %}

<section id="header" class="header">
<div class="container section">
    <div class="row">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        <p>
        Welcome to the DEEP Open Catalog!
        </p>
        <p>
        DEEP-Hybrid-DataCloud is a project that aims to deliver a framework
        to easily develop Machine Learning and Deep Learning models on top of
        e-Infrastructures.
        In the DEEP Open Catalog you can find ready to use models in a
        variety of domains. These models can be executed on your local laptop,
        on a production server or on top of e-Infrastrucutres supporting the DEEP-Hybrid-DataCloud stack.
        </p>
    </div>
</div>
</section>
        

<section id="quickstart">
<div id="quickstart" class="container section">
    <div class="row">
        <div class="twelve column">
            <h2>Quickstart</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="three columns">
            <h4>1. Choose a model</h3>
            Browse the <a href="#model-list">list of available models</a> and pick the one of your choice.
        </div>
        <div class="five columns">
            <h4>2. Download &amp; execute</h3>
            <pre><code>$ docker search deephdc
$ docker pull deephdc/deep-oc-generic-container
$ docker run -ti -p 5000:5000 deephdc/deep-oc-generic-container</code></pre>
        </div>
        <div class="four columns">
            <h4>3. Browse the API</h3>
            <ul>
                <li>
                    Open your browser and visit <code>http://127.0.0.1:5000/</code>.
                </li>
                <li>Read the Swagger documentation and test the model directly.</li>
            </ul>
        </div>
    </div>
</div>
</section>

<section id="model-list">
<div class="container section">
    <div class="row">
        {% block content_title %}
        <h2>Browse all models</h2>
        {% endblock %}
    </div>

    <div class="row">
        <ul class="model-list">
        {% for article in articles_page.object_list %}
            <li class="six columns">
                <article class="hentry">
                    <header>
                        <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                    </header>
                    <footer class="post-info">
                        <!--                         <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> -->
                        <address class="vcard author">By
                        {% for author in article.authors %}
                            <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                        {% endfor %}
                        </address>
                    </footer><!-- /.post-info -->
                    <div class="entry-content"> 
                        <p>
                        {{ article.summary }} 
                        </p>
                        <a href="{{ SITEURL }}/{{ article.url }}">Know more &raquo;&raquo;</a>
                    </div><!-- /.entry-content -->
                </article>
            </li>
        {% endfor %}
        </ul>
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</div>
</section><!-- /#content -->
{% endblock content %}
