{% extends "base.html" %}

{% block title %} - Tags{% endblock %}

{% block content %}
<section id="tags">
<div class="container section">
    <div class="row">
        <div class="twelve column">
            <h2>Model Tags</h2>
        </div>
    </div>
    <div class="row">
        <ul>
        {%- for tag, articles in tags|sort %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
        </ul>
    </div>
</div>
</section>
{% endblock %}
